PPT_AGENT_ENV=development
PPT_AGENT_HOST=127.0.0.1
PPT_AGENT_PORT=8000
PPT_AGENT_RELOAD=false
PPT_AGENT_FRONTEND_ORIGIN=http://127.0.0.1:5173
PPT_AGENT_DATABASE_URL=
PPT_AGENT_STORAGE_ROOT=../storage
